// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #83014c;
$secondary: #360f4f;
$headings-font-family: 'Barlow Semi Condensed', sans-serif;
$font-family-base: 'Roboto', sans-serif;
$headings-color: $secondary;

// Footer and category badges etc
$ehri-gray: #ecedee;

$pagination-active-bg: $secondary;

$btn-font-size: 0.6875rem;
$btn-font-weight: bold;

$btn-padding-x: 1.3rem;
$btn-padding-y: 0.2rem;

// Entry metadata etc...
$text-muted: #858c8c;

$font-size-base: .875rem !default;
$font-size-sm: .75rem !default;

$h1-font-size: 2.625rem;
$h2-font-size: 1.375rem;
$h3-font-size: 1.375rem;
$h4-font-size: $font-size-base;

$border-radius:               .05rem !default;
$border-radius-lg:            .1.5rem !default;
$border-radius-sm:            .05rem !default;


$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px
) !default;


//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'/%3e%3c/svg%3e"), "#", "%23") !default;


