// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #83014c;
$secondary: #360f4f;
$headings-font-family: 'Barlow Semi Condensed';
$headings-color: $secondary;

$cat-badge-color: #ecedee;

$font-size-base: .875rem !default;

$h2-font-size: 1.375rem;
$h4-font-size: $font-size-base;

$border-radius:               .1rem !default;
$border-radius-lg:            .1.5rem !default;
$border-radius-sm:            .05rem !default;


$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px
) !default;


